<div class="name_strong">
<%= image_tag "https://www.tlnt.com/wp-content/uploads/sites/4/2020/11/basecamp-logo-stacked.png", class: "img" %>
  <p class="name_page">
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p class="name_page">
    <strong>Description:</strong>
    <%= project.description %>
  </p>


</div>
